.title {
    width: 100%;
    text-align: right;
    font-size: 2rem;
    color: rgb(31, 30, 30);
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }